body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    background-image: url(../images/bg.jpg);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
}

.container {
    height: 350px;
    width: 400px;
    border-radius: 10px;

    background-color: cornsilk;
}

header {
    height: 130px;
    width: 400px;
    
    text-align: center;
}

span {
    display: inline-block;
}
.headerTitle {
    height: 50px;
    width: 270px;

    font-size: 20px;
    font-weight: bold;

    display: flex;
    align-items: center;
    padding-left: 130px;
}
.description {
    font-style: italic;
}
.itemInput {
    border-bottom: black solid 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 25px;
    width: 200px;
}
.addButton {
    background-image: url(../images/add.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 25px;

    border-radius: 12.5px;
    border: 2px solid tomato;
    background-color: tomato;

    vertical-align: middle;
}

article {
    height: 150px;
    width: 400px;

    overflow: auto;
}

li {
    padding-left: 80px;
    padding-right: 80px;
    list-style-type: decimal;
    list-style-position: outside;
}

.liAfterCheck {
    color: gray;
    text-decoration: line-through;
}
.itemContentAfterCheck {
    text-decoration: line-through;
}

.deleteButton {
    background-image: url(../images/delete.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    opacity: 0;

    float: right;
}

.mouseOverDeleteButton {
    background-image: url(../images/delete.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    opacity: 1;

    float: right;
}

footer {
    height: 55px;
    width: 300px;
}

.btnContainer {
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    justify-content: space-around;
}

.allButton {
    height: 30px;
    width: 60px;

    text-align: center;
    color: tomato;
    background-color: rgb(213, 213, 219);
    border-radius: 15px;
    border: 0;

    vertical-align: middle;
}

.activeButton {
    height: 30px;
    width: 70px;

    text-align: center;
    color: tomato;
    background-color: rgb(213, 213, 219);
    border-radius: 15px;
    border: 0;

    vertical-align: middle;
}

.completeButton {
    height: 30px;
    width: 80px;

    text-align: center;
    color: tomato;
    background-color: rgb(213, 213, 219);
    border-radius: 15px;
    border: 0;

    vertical-align: middle;
}

.textEdit {
    width: 140px;
    height: 20px;
}
